:root{
    --bluebackground: hsl(230, 17%, 14%);
    --bluebackgroundpattern:hsl(232, 19%, 15%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title p{
    color: hsl(228, 34%, 66%);
}

.main{
    padding: 2rem 10rem;
    background-color: var(--bluebackground);
    min-height: 100vh;
    height: 100%;
    font-family: 'Inter', sans-serif;
    width: 100%;
    color: white;
    overflow: hidden;
    position: relative;
}
.main::before{
    content: '';
    position: absolute;
    border-radius: 0 0 0 20px;
    top: 0;
    left: 0;
    background-color: hsl(232, 19%, 15%);
    width: 100%;
    height: 200px;
}
.main.light::before{
    background-color:  hsl(225, 100%, 98%);
}
.main.light{
    background-color: hsl(0, 0%, 100%);
}
.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}
.light .title h1{
    color: hsl(230, 17%, 14%);
}
.light .title p{
    color: hsl(228, 12%, 44%);
}

.modes input{
    width: 100px;
    height: 30px;
    appearance: none;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
    background:linear-gradient(hsl(210, 78%, 56%) ,hsl(146, 68%, 55%)) ;
}
.modes input::before{
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    top: 3px;
    transition: all .5s ease , background-color .1s ease ;
    
    left: 2px;
    border-radius: 100%;
    background-color:  hsl(230, 17%, 14%);
}
.modes input:checked::before{
    left: 33px;
    background-color: white;
    outline: none;
}

.modes input:checked{
    background: hsl(230, 22%, 74%);
    outline: none;
}
.modes{
    display: flex;
    align-items: center;
}
.modes p{
    width: 100%;
    z-index: 2;
    font-weight: 700;
}
.light .modes p{
    color: hsl(228, 12%, 44%);
}
.first-hero{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-gap: 50px;
}
.boxes{
    padding-top: 20px;
    height: 250px;
    position: relative;
    background: hsl(228, 28%, 20%);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr ;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
}
.light .boxes{
    background-color: hsl(227, 47%, 96%);
}
.light .boxes:hover{
    background-color: hsl(229, 25%, 87%);
}
.boxes:hover{
    background-color:hsl(229, 23%, 28%) ;
}
.boxes-before{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 2%;
    background: linear-gradient(hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
.social-media-username {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 30px 1fr;
}
.social-media-username p{
    font-size: 14px;
    align-self:start;
    color: hsl(228, 34%, 66%);

}
.light .social-media-username p{
    color: hsl(228, 12%, 44%);
}
.followers h1{
    font-size: 50px;
}
.light .followers h1{
    color:  hsl(230, 17%, 14%);
}
.followers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followers p{
    letter-spacing: 7px;
    color: hsl(230, 22%, 74%);

}
.rates{
    display: flex;
    justify-content: center;
    align-content: center;
}
.down svg{
    margin-right: .2rem;
    transform: rotate(0deg);
    justify-self: center;
}
.up svg{
    margin-right: .2rem;
    transform: rotate(180deg);
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Second Hero Styling */

.second-hero{
    margin:2rem 0 0 0;
}
.light .second-hero h1{
    color: hsl(228, 12%, 44%);
}
.second-hero-second-part{
    padding: 2rem 0 5rem 0;
    display: grid;
    grid-template-columns:repeat(4 , 1fr);
    grid-template-rows:  175px 175px;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}
.over-view-box{
    
    background: hsl(228, 28%, 20%);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: repeat ( 2, 1fr );
    padding: 1.5rem 3rem;
}
.light .over-view-box{
    background-color:hsl(227, 47%, 96%) ;
}

.rates-over-view{
    display: grid;
    grid-template-columns: .1fr 1fr;
}
.light .page-views{
    color:hsl(228, 12%, 44%) ;
}
.page-views,.count{
    align-self: center;
    justify-self: start;
}
.light .over-view-box h1{
   color: hsl(230, 17%, 14%);
}
.social-media-icon,.rates-over-view{
    align-self: center;
    justify-self: end;
}
.page-views{
    color: hsl(228, 34%, 66%);
}
@media only screen and (min-width: 1000px) and (max-width: 1360px){
    .first-hero {
        
        grid-template-columns: repeat(3,1fr);
        grid-gap: 50px;
    }
    .second-hero-second-part{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;

    }
    .modes p {
        
        font-size: 12px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 999px){
    .first-hero {
            
            grid-template-columns: repeat(2,1fr);
            grid-gap: 30px;
        }
        .second-hero-second-part{
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;

        }
        .over-view-box{
            grid-template-rows: 2fr 1fr;
            padding: 1.5rem 2rem;
        }
        .modes p {
            
            font-size: 12px;
        }
}
@media only screen and (max-width: 766px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr;
       grid-row-gap: 20px;
    }
    .modes input {
        width: 65px;
    }
    .first-hero {
            
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
        .second-hero-second-part{
            grid-template-columns: 1fr;
            grid-gap: 20px;

        }
        .over-view-box{
            grid-template-rows: 2fr 1fr;
            padding: 1.5rem 2rem;
        }
        .modes p {
            
            font-size: 18px;
        }
        .modes{
            z-index: 2;
            border-top: 1px solid rgba(255, 255, 255, 0.527);
        }
        @media only screen and (max-width: 640px){
            .main {
                padding: 2rem 3rem;
            }
        }
        @media only screen and (max-width: 488px){
            .title h1 , .overview-today{
                font-size: 28px;
                
            }
            
        }@media only screen and (max-width: 350px){
            .title h1 , .overview-today{
                font-size: 20px;
                
            }
            
        }
}
